/**********generalt******/

body * {
    box-sizing: border-box;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}



h1 {
    text-transform: uppercase;
    font-family: 'Noto Serif JP', serif;
    font-size: 1.9rem;
    margin-top: 0rem;
}

h2 {
    font-size: 1.7rem;
    margin-top: 1rem;
    margin-bottom: 0rem;
    font-family: 'Noto Serif JP', serif;
}

h3 {
    font-size: 1.2rem;
    margin: 0
}

h4 {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 400;
}

p {
    font-family: 'Lato', sans-serif;

}



/********************MENU MOBIL********************/

.hidden {
    transform: scale(0);
}

#menuknap {
    display: inline-block;
    width: 3rem;
    font-size: 3rem;
    font-family: Montserrat;
    color: #e2e2e2;
    float: right;
    margin-right: 1rem;
    position: fixed;
    right: 1rem;
    top: 0rem;
}

#menu {
    list-style-type: none;
    transition: transform 1s;
    transform-origin: top right;
    position: fixed;
    background-color: #aaaaaa;
    min-width: 15rem;
    min-height: 30rem;
    z-index: 1;
    right: 3rem;
    top: 1.9rem;
    text-align: right;
    padding-right: 1rem;
}

#menu a {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    text-decoration: none;
    color: white;
    line-height: 3rem;
}

#menu h2 {
    color: white;
}

.siteheader {
    display: none;
}


header img {
    margin-left: 1rem;
    display: block;
}


header {
    width: 100%;
    z-index: 2;
    position: absolute;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#logo {
    grid-column: 1 / 3;
    padding-top: 1rem;
}

.mobilenav {
    grid-column: 4 / 5;
    padding-left: 2rem;
}

/********menu slut*************/



/**********************RETTER START **************************/

#liste {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 1rem;
    grid-gap: 2rem;
}

.minret {
    padding: 1rem;
    border-style: solid;
    border-top-color: black;
    border-width: 0.1rem 0rem 0rem 0rem;
}

/**********************Pop op boks start**********************/


#popup {
    top: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: hsla(0, 0%, 42%, 0.52);
    display: none;
    overflow: scroll;
}

#indhold {
    min-height: 50vh;
    background-color: white;
    width: 90vw;
    margin: 4rem auto;
}

#luk {
    position: fixed;
    right: 2rem;
    top: 29rem;
}

#luk button {
    font-size: 0.5rem;
    height: 2.8rem;
    width: 7rem;
    border: none;
    font-size: 1rem;
    text-transform: none;
    background-color: lightgray;
}


/**********************pop op boks slut**********************/


/***********************FORSIDE START************************/

#frontpage {
    position: relative;
    margin: 0.1px;
}

.book_nu {
    position: absolute;
    top: 16rem;
    left: 6.3rem;
    border-style: solid;
    border-color: white;
    border-width: 0.1rem;
    background: none;
    height: 6rem;
    width: 12rem;
}

.book_nu h4 {
    margin: 0.1rem;
    font-family: 'Noto Serif JP', serif;
    font-style: normal;
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
}

.pil {
    position: absolute;
    max-width: 5rem;
    top: 36rem;
    left: 9rem;
}


#kontakt {
    background-color: grey;
}

#kontakt article {
    padding: 2rem;
}

#kontakt p {
    color: white;
    text-align: left;
}

#om {
    background-color: white;
}

#om p {
    font-size: 1.1rem;
    padding-top: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#om article {
    background-color: white;
    padding: 1rem;
}

#om h1 {
    margin: 0rem;
    padding-left: 1rem;
}

/**********forside slut************/


/***************UNDERSIDER******************/

.kategori_container {
    width: 100%
}

.kategori_overskrift {
    position: absolute;
    text-align: center;
    color: white;
    top: 29rem;
    left: 4.2rem;
}

.drikke .kategori_overskrift {
    top: 27rem;
    left: 3.3rem;
}

.forretter .kategori_overskrift {
    left: 1rem;
}

.pasta .kategori_overskrift {
    left: 5.4rem;
}

.pizza .kategori_overskrift {
    left: 1rem;
}

.kategori_overskrift h1 {
    font-size: 4rem;
    margin: 0rem;
}

.forretter h1 {
    font-size: 3rem;
}


.kategori_overskrift p {
    font-size: 1.3rem;
    margin: 0.4rem;
}

.pizza .pil {
    top: 8rem;
    left: 8rem;
}

.pasta .pil {
    top: 8rem;
    left: 4rem;
}

.forretter .pil {
    top: 7rem;
    left: 8.5rem;
}

.drikke .pil {
    top: 9rem;
    left: 6.1rem;
}




@media only screen and (min-width:400px) {

    /*****menu bar*****/
    header img {
        max-width: 20rem;
        margin-left: 2rem;
    }

    .image_container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #splash {
        width: 100%;
        grid-column: 1 / 4;
    }

    .book_nu {
        z-index: 2;
        grid-column: 3 / 3;
        top: 40%;
        left: 32%;
        width: 18rem;
    }

    .book_nu h4 {
        font-size: 3rem;
    }

    .pil {
        top: 89%;
        left: 45%;
        max-width: 7rem;
    }


}


@media only screen and (min-width:600px) {

    /*****css grid******/
    #liste {
        grid-template-columns: repeat(2, 1fr);
    }

    .pizza .kategori_overskrift {
        top: 63%;
        left: 18%;
    }

    .pizza h1 {
        font-size: 8rem;
    }

    .drikke h1 {
        font-size: 8rem;
    }

    .pasta h1 {
        font-size: 8rem;
    }

    .forretter h1 {
        font-size: 6rem;
    }

    .pizza p {
        font-size: 2rem;
    }

    .pasta p {
        font-size: 2rem;
    }

    .drikke p {
        font-size: 2rem;
    }


    .forretter .kategori_overskrift p {
        font-size: 2rem;
        width: 36rem;
    }

    .pizza .pil {
        top: 110%;
        left: 38%;
    }

    .pasta .pil {
        top: 110%;
        left: 38%;
    }

    .forretter .pil {
        top: 110%;
        left: 38%;
    }

    .drikke .pil {
        top: 110%;
        left: 38%;
    }

    .pasta .kategori_overskrift {
        top: 64%;
        left: 23%;
    }


    .forretter .kategori_overskrift {
        top: 67%;
        left: 11%;
    }


    .drikke .kategori_overskrift {
        top: 64%;
        left: 15%;
    }


}

@media only screen and (min-width:850px) {
    .book_nu {
        top: 40%;
        left: 35%;
    }

    .book_nu h4 {
        font-size: 3rem;
    }
}


@media only screen and (min-width: 1130px) {


    /******menu bar******/

    .mobilenav {
        display: none;
    }

    .siteheader {
        display: inline-block;
        grid-column: 4 / 5;
        padding-right: 2rem;
    }

    nav {
        width: 30rem;
        flex-direction: row;
        display: flex;
        text-decoration: none;
        font-family: 'Noto Serif JP', serif;
    }

    nav a {
        color: white;
    }

    .dropdown-contentdesktop {
        display: none;
        position: absolute;
        background-color: none;
        min-width: 140px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .dropdown-contentdesktop a {
        padding: 7px 10px;
        font-weight: 400;
        display: block;
        text-align: left;
        color: white;
        background-color: none;
    }

    .dropdown-contentdesktop a {
        padding: 7px 10px;
        font-weight: 400;
        display: block;
        text-align: left;
        color: white;
        background-color: none;
    }

    .dropdowndesktop {
        font-family: 'Noto Serif JP', serif;
        font-size: 22px;
        color: white;
        padding-right: 2rem;
        text-align: right;
        border: none;
        outline: none;
        margin: 0;
        content: "\u2261";
        line-height: 1.2rem;
    }

    header {
        width: 100%;
        z-index: 2;
        flex-direction: column;
    }

    header nav a {
        text-decoration: none;
        padding-right: 2rem;
    }

    header .siteheader {
        height: 60px;
        width: 100%;
        background-color: none;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        line-height: 1.2rem;
    }

    header a {
        line-height: 2rem;
        font-size: 40px;
    }

    .siteheader a:hover {
        text-decoration: underline;
        color: darkgray;
    }

    .dropdowndesktop:hover .dropdown-contentdesktop {
        display: block;
    }



    /*****Css grid ****/
    #liste {
        grid-template-columns: repeat(3, 1fr);
    }

    /*****forside book nu og pil ****/

    .book_nu {
        top: 40%;
        left: 38%;
        width: 18rem;
    }

    .book_nu h4 {
        font-size: 3rem;
    }

    .pil {
        top: 85%;
        left: 45%;
        max-width: 7rem;
    }

    /*****kategori overskrift og pil placering******/


    .pizza h1 {
        font-size: 6rem;
    }

    .drikke h1 {
        font-size: 6rem;
    }

    .pasta h1 {
        font-size: 6rem;
    }

    .forretter h1 {
        font-size: 5rem;
    }

    .pizza p {
        font-size: 1.8rem;
    }

    .pasta p {
        font-size: 1.8rem;
    }

    .drikke p {
        font-size: 1.8rem;
    }


    .forretter .kategori_overskrift p {
        font-size: 1.8rem;
        width: 36rem;
    }


    .pizza .kategori_overskrift {
        top: 60%;
        left: 28%;
    }

    .pizza .pil {
        max-width: 5rem;
    }

    .pasta .pil {
        max-width: 5rem;
    }

    .forretter .pil {
        top: 110%;
        left: 38%;
        max-width: 5rem;
    }

    .drikke .pil {
        top: 110%;
        left: 38%;
        max-width: 5rem;
    }

    .pasta .kategori_overskrift {
        top: 60%;
        left: 38%;
    }


    .forretter .kategori_overskrift {
        top: 63%;
        left: 25%;
    }


    .drikke .kategori_overskrift {
        top: 60%;
        left: 33%;
    }


}

@media only screen and (min-width: 1500px) {

    .book_nu {
        left: 39%;
        width: 18rem;
    }

    .book_nu h4 {
        font-size: 3rem;
    }

    .pil {
        top: 85%;
        left: 45%;
        max-width: 7rem;
    }

    /*****kategori overskrift og pil placering******/


    .pizza .kategori_overskrift {
        top: 50%;
        left: 34%;
    }

    .pasta .kategori_overskrift {
        top: 50%;
        left: 40%;
    }


    .forretter .kategori_overskrift {
        top: 50%;
        left: 31%;
    }

    .forretter .pil {
        left: 16rem;
    }


    .drikke .kategori_overskrift {
        top: 50%;
        left: 37%;
    }




}

